.add-task{
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 24px;
}
.input{
    width: 400px;
    height: 50px;
    border-radius: 0.5rem;
    font-size: 16px;
    padding-left: 18px;
}
.buttonAdd{
    background-color: rgb(0, 153, 255);
    width: 70px;
    border: none;
    margin-left: 24px;
    border-radius: 0.5rem;
    cursor: pointer;
}
.buttonAdd:hover{
    background-color: rgb(164, 204, 250);
}
.icono-add{
   width: 38px;
   color: white;
}