*{
    margin: 0;
}
.task-list{
    background-color: rgb(229, 229, 241);
    width: 500px;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto auto;
    margin: 14px;
    padding: 18px;
    border-radius: 0.5rem;
}
.titulo-task{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.id-task{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 0 14px 0 0;
}
.descripcion{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 10px;
}
.editar img, .eliminar img{
    width: 18px;
}
.editar, .eliminar{
    border: none;
    background-color: transparent;
    cursor: pointer;
}