.task{
    background-color: rgb(72, 92, 179);
    width: 400px;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out;
}
.completed-task {
    background-color: rgb(121, 184, 255); 
  }
.button-delete{
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: auto;
}
.button-edit{
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: auto;
}
.button-save{
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: auto;
}
.task-title{
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.icon{
    background-color: transparent;
    padding: 4px;
    width: 30px;
    height: 30px;
}
.edit{
    background-color: transparent;
    padding: 4px;
    width: 30px;
    height: 30px;
    padding-left: 4px;
}
.save{
  background-color: transparent;
    padding: 4px;
    width: 30px;
    height: 30px;
    padding-left: 4px;
}
.button-delete:hover{
    background-color:  #c71f1f;   
}
.button-edit:hover{
    background-color: rgb(213, 219, 253);
}
.button-save:hover{
  background-color: rgb(153, 255, 140);
}
.task input[type="checkbox"] {
    appearance: none; 
    width: 16px; 
    height: 16px; 
    border-radius: 50%; 
    border: 2px solid #3a6692; 
    background-color: transparent; 
    margin-right: 10px; 
    cursor: pointer; 
    border-color:  #39aa68;
  }
  .task input[type="checkbox"]:checked {
    background-color: #39aa68;
    border-color: rgb(39, 92, 50);
  }
  .edit-input{
    padding: 8px;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 0.5px solid;
    border-color: #b4edff;
    font-family: 'Ubuntu', sans-serif;
  }
  .save{
    background-color: transparent;
    border: none;
  }
  .cancel{
    background-color: transparent;
    border: none;
  }
  .save:hover, .cancel:hover{
    background-color: #dcedff;
    border-radius: 0.5rem;
  }